  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Country
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <ul>
      {% for country in country_selector %}
        <li>
          <a href="{% url 'articles:country' sport_menu.sport_slug country.country_slug %}">
          <img class="small_flag" src="{{country.flag.url}}" alt="{{country.name}}">{{country.name}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

