{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="post-body">
      {% if post.headline_image %}
      <div class="img col-12 mt-3"><img class="float-left article-img" src="{{ post.headline_image.url }}" alt="{{post.title}}"></div>
        <p class="pr-3 text-right">Credit: {{post.headline_image_credit}}</p>
      {% endif %}
        <div class="main-body p-3">
          <h1 class="text-center">{{ post.title }}</h1>
            <hr>
          <p>{{ post.body|linebreaks }}</p>
        </div>
    </div>
  </div>
</div>
{% endblock %}

